<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title"><%= t ".new_store" %></h4>
        </div>
        <div class="card-body">
          <%= render "form", {store: @store, type: :new} %>
        </div>
      </div>
    </div>
  </div>
</div>
