<li  id="comment-<%= comment.id %>">
  <div class="comment-show">
    <h6><i class="fa fa-reply-all"></i> <%= comment.content %></h6>
    <span>
      <%= link_to [:manager, comment], method: :delete,
        data: {confirm: t(".sure")}, remote: true do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </span>
  </div>
  <span class="time">
    <%= l comment.created_at, format: :date_month_year %>
  </span>
<li>
<hr>
