<button type="button" class="btn btn-primary" data-toggle="modal"
  id="add_success_to_cart" data-target="#modal_add_cart"><%= t ".success" %></button>
<%= link_to orders_path, class: "btn btn-warning" do %>
  <%= t ".payment" %>
<% end %>
