<section class="banner-area relative" id="home">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-start">
      <div class="banner-content col-lg-8 col-md-12">
        <h4 class="text-white text-uppercase"><%= t ".perfect_choise" %></h4>
        <h1>
          <%= t ".delicious_cheap" %>
        </h1>
        <p class="text-white">
          <% t ".description" %>
        </p>
        <%= link_to  t(".order"), "#", class: "primary-btn header-btn text-uppercase" %>
      </div>												
    </div>
  </div>
</section>
